<!DOCTYPE html>
<html lang="ko">
<head>
    <!--meta tag  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <title>Test Project</title>
</head>
<body>
    <div>
        <div class="flex">
            <img src="/images/nacho1.png" width="300px">
            <img src="/images/nacho2.png" width="300px">
        </div>
    </div>

    <script>
   
    </script>
</body>
</html>